
.sheet{
    background-color: rgb(177, 190, 111);
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 1000px;
}

.slider{
    position: absolute;
    height:220px;
    width: 160px;
    top: 20%;
    left: calc(50% - 80px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
.items{
    position: absolute;
    inset: 0;
    transform:
    rotateY(calc((var(--position) - 1 ) * (360 / var(--quantity) * 1deg)))
    translateZ(350px);
    z-index: 5;
}
.items img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@keyframes autoRun{
    from{
        transform:perspective(1000px) rotateX(-15deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
    }
}
.content{
    text-align: center;
    font-size: 2rem;
}
.tree{
    height: 500px;
    width: 400px;
    background-image: url(nature2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 550px;
    top: 285px;
    z-index: -1;

}